<html>

<head>
<title>500 page - try www.kwippy.com</title>
<style>
body {
text-align:center;
margin:0 auto;
padding-top:30px;
background-color:f9f9f9;
}

.wrap {
text-align:center;
margin:0 auto;
width:600px;
}

strong span{
font-size:200%;
}
.content {
padding:20px 15px 20px 15px;
font-family:georgia,sans-serif;
font-size:100%;
text-align:center;
}


.text_left {
text-align:left;
}
a {color:black;}
</style>
</head>

<body>
<div class="wrap">
	<div class="content">
		<strong><span><em>500</em></span></strong><br /><br />
		There's been an error. Could you let us know how it happened? <br />
		plz mail at letskwip[at]gmail[dot]com. We'll be grateful :).
		
	</div>
</div>
</body>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-3116342-1";
urchinTracker();
</script>
</html>
